<aside class="menu ml-1 main-menu p-3 ml-0 has-background-info">
  <p class="menu-label has-text-light">
    Credits
  </p>
  <ul class="menu-list">
    <li><a class="has-text-white"  routerLinkActive="is-active" [routerLink]="[ '/main-app/credit/fund/source/list-add' ]">Heads</a></li>
    <li><a class="has-text-white"  [routerLink]="[ '/main-app/credit/fund/record/list-add' ]" routerLinkActive="is-active">Records</a></li>
  </ul>
  <p class="menu-label has-text-light">
    Debits
  </p>
  <ul class="menu-list">
    <li><a class="has-text-white"  [routerLink]="[ '/main-app/expenditure/heading' ]" routerLinkActive="is-active">Heads</a></li>
    <li><a class="has-text-white"  [routerLink]="[ '/main-app/expenditure/record' ]" routerLinkActive="is-active">Records</a></li>
  </ul>
  <p class="menu-label has-text-light">
      Loan Management
    </p>
    <ul class="menu-list">
      <li><a class="has-text-white"  routerLinkActive="is-active" [routerLink]="[ '/main-app/loan-app/credit/list-add' ]">Credits</a></li>
      <li><a class="has-text-white"  routerLinkActive="is-active" [routerLink]="[ '/main-app/loan-app/debit/list-add' ]">Debits</a></li>
    </ul>
  <p class="menu-label has-text-light">
    Company
  </p>
  <ul class="menu-list">
    <li><a class="has-text-white"  routerLinkActive="is-active" [routerLink]="[ '/main-app/company/edit' ]">Configure</a></li>
  </ul>
  <p class="menu-label has-text-light">
    Sub Users
  </p>
  <ul class="menu-list">
    <li><a class="has-text-white" routerLinkActive="is-active" [routerLink]="[ '/main-app/sub-user' ]">All sub users</a></li>
  </ul>
</aside>