<!--
  <div class="ui clearing segment">
  <h3 class="header">Debit Heads</h3>
</div>
<div class="ui two column stackable grid">
  <div class="five wide column">
    <div class="ui steps fluid mini">
      <div class="step">
        <i class="add icon"></i>
        <div class="content">
          <div class="title">Add More Here</div>
          <div class="description">Just add anytime & anywhere.</div>
        </div>
      </div>
    </div>
    <div class="column">
      <app-heading-add (heading_data)="onAddHeading($event)"></app-heading-add>
    </div>
  </div>
  <div class="six wide column">

    <div class="ui steps fluid mini">
      <div class="step">
        <i class="list alternate icon"></i>
        <div class="content">
          <div class="title">List Here</div>
          <div class="description">You can also search.</div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="sixteen wide column">
        <app-heading-filter (search_data)="onSearch($event)"></app-heading-filter>
      </div>
      <div class="sixteen wide column">
        <table class="ui selectable celled red table">
          <thead>
            <tr>
              <th colspan="2">
                <h3>Debit Heads</h3>
              </th>
              <th>
                <button class="ui right floated icon blue button mini" (click)="onRedo()"><i class="redo icon"></i></button>
              </th>
            </tr>
            <tr>
              <th>Debit Head Name</th>
              <th>Added</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of all_headings">
              <td
              class="selectable" (click)="set_heading_data(data)"><a>{{ data.heading_name }}</a></td>
              <td>{{ data.added | date }}</td>
              <td>{{ data.updated | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="five wide column">
    <div class="ui steps fluid mini">
      <div class="step">
        <i class="edit icon"></i>
        <div class="content">
          <div class="title">Details or Edit</div>
          <div class="description">You know then what to do.</div>
        </div>
      </div>
    </div>
    <app-heading-edit [heading]="heading_data"></app-heading-edit>
  </div>
</div>
-->


<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="subtitle is-4">Add more</div>
      <app-heading-add (heading_data)="onAddHeading($event)"></app-heading-add>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="subtitle is-4">List & search</div>
          <app-heading-filter (search_data)="onSearch($event)"></app-heading-filter>
        </div>
        <div class="col-12 mt-4">
          <table class="table is-bordered is-striped is-fullwidth">
            <thead class="has-background-light" appShadow>
              <tr>
                <th colspan="2">
                  <h3>Debit Heads</h3>
                </th>
                <th>
                  <button class="button is-warning is-small" (click)="onRedo()" appShadow>Reload</button>
                </th>
              </tr>
              <tr>
                <th>Debit Head Name</th>
                <th>Added</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr appShadow *ngFor="let data of all_headings">
                <td class="selectable" (click)="set_heading_data(data)"><a>{{ data.heading_name }}</a></td>
                <td>{{ data.added | date }}</td>
                <td>{{ data.updated | date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="subtitle is-4">Details or Edit</div>
      <app-heading-edit [heading]="heading_data"></app-heading-edit>
    </div>
  </div>
</div>