<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="segment p-5">
      <p class="has-text-danger is-size-4" *ngIf="has_error">Login error.</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label is-size-5">Username</label>
          <div class="control">
            <input class="input is-large" [ngClass]="{'is-danger': has_error}" type="text" placeholder="Username" formControlName="username">
          </div>
        </div>
        <div class="field">
          <label class="label is-size-5">Password</label>
          <div class="control">
            <input class="input is-large" [ngClass]="{'is-danger': has_error}" type="password" placeholder="Password" formControlName="password">
          </div>
        </div>
        <button class="button is-link is-block is-large" type="submit">Signin</button>
      </form>
    </div>
  </div>
</div>