<div class="ui blue segment">
  <h3>Filter form</h3>
  <div class="ui divider"></div>
  <form (ngSubmit)="onSubmit()" [formGroup]="filter_form" class="ui form small" [ngClass]="{'loading': loading}">
    <div class="fields">
      <div class="four wide field">
        <label>Debit Heade</label>
        <select formControlName="heading" class="ui dropdown" appDropdown>
          <option value="">All</option>
          <option value=" ">All</option>
          <option value="{{ heading }}" *ngFor="let heading of all_headings">{{ heading }}</option>
        </select>
      </div>
      <div class="four wide field">
        <label>Authorized</label>
        <select formControlName="is_verified" class="ui dropdown" appDropdown>
          <option value="">All</option>
          <option value=" ">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="four wide field">
        <label>Expend Date From</label>
        <input formControlName="expend_date_after" type="date">
      </div>
      <div class="four wide field">
        <label>Expend Date Upto</label>
        <input formControlName="expend_date_before" type="date">
      </div>
      <div class="four wide field">
        <label>Search</label>
        <input formControlName="search" type="text">
      </div>
      <div class="four wide field">
        <label>Ordering</label>
        <select formControlName="ordering" class="ui dropdown" appDropdown>
          <option value="">No ordering</option>
          <option value=" ">No ordering</option>
          <option value="added">Added - Ascending</option>
          <option value="-added">Added - Descending</option>
          <option value="expend_date">Expend time - Ascending</option>
          <option value="-expend_date">Expend time - Descending</option>
          <option value="amount">Amount - Ascending</option>
          <option value="-amount">Amount - Descending</option>
          <option value="expend_heading__heading_name">Heading name - Ascending</option>
          <option value="-expend_heading__heading_name">Heading name - Descending</option>
        </select>
      </div>
    </div>
    <div class="ui styled fluid accordion mb-3" appAccordion>
      <div class="title">
        <i class="dropdown icon"></i>
        More Filters
      </div>
      <div class="content">
        <div class="fields">
          <div class="four wide field">
            <label>Specific Amount</label>
            <input formControlName="amount" type="number">
          </div>
          <div class="four wide field">
            <label>Added date</label>
            <input formControlName="added_date" type="date">
          </div>
          <div class="four wide field">
            <label>Max amount</label>
            <input formControlName="max_amount" type="number">
          </div>
          <div class="four wide field">
            <label>Min amount</label>
            <input formControlName="min_amount" type="number">
          </div>
          <div class="four wide field">
            <label>Added Date From</label>
            <input formControlName="added_after" type="date">
          </div>
          <div class="four wide field">
            <label>Added Date Upto</label>
            <input formControlName="added_before" type="date">
          </div>
        </div>
      </div>
    </div>
    <button class="ui labeled icon blue button tiny" type="submit"><i class="filter icon"></i>Filter</button>
  </form>
  <div class="ui divider"></div>
  <a class="ui labeled icon blue button tiny" (click)="genUrl()" [ngClass]="{'loading': loading}"><i class="filter icon"></i>Genarate
    URL</a>
  <a class="ui labeled icon red button tiny" *ngIf="has_url" #downloadPDFLink (click)="download(getPDFUrl(), 'pdf')"><i
      class="file icon"></i>Get PDF</a>
  <a class="ui labeled icon red button tiny" *ngIf="has_url" #downloadCSVLink (click)="download(getMailCSV(), 'csv')"><i
      class="file icon"></i>Get CSV</a>
  <a class="ui labeled icon violet button tiny" (click)="onCheckOut()"><i class="file icon"></i>Checkout Today</a>
</div>