.modal-form {
    padding: 20px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 6px;
    min-height: 180px;
    max-height: 260px;
    border: 2px solid #dbdbdb;
}

.modal-form:focus {
    outline: none !important;
    border: 2px solid #719ECE;
}