<div class="ui pink segment">
  <div class="ui icon message {{ message.type }}" *ngFor="let message of messages">
    <i class="x icon" *ngIf="message.type === 'error'"></i>
    <i class="check icon" *ngIf="message.type === 'positive'"></i>
    <div class="content">
      <b>{{ message.message }}</b>
    </div>
  </div>
  <form class="ui fluid form tiny" [formGroup]="form" (ngSubmit)="onSubmit()"
  [ngClass]="{'loading': loading}">
    <div class="field" [ngClass]="{'error': form.get('heading_name').invalid && form.get('heading_name').touched}">
      <label>Debit Head Name</label>
      <input type="text" formControlName="heading_name">
    </div>
    <button class="ui blue labeled icon button tiny" type="submit" [ngClass]="{'loading': loading}"><i class="add icon"></i>Add
      Head</button>
    <button class="ui yellow labeled icon button tiny" (click)="onReset()"><i class="redo icon"></i>Reset</button>
  </form>
</div>