<!--
  <div class="ui pink segment">
  <div class="ui icon message {{ message.type }}" *ngFor="let message of messages">
    <i class="x icon" *ngIf="message.type === 'error'"></i>
    <i class="check icon" *ngIf="message.type === 'positive'"></i>
    <div class="content">
      <b>{{ message.message }}</b>
    </div>
  </div>
  <form class="ui fluid form tiny" [formGroup]="form" (ngSubmit)="onSubmit()"
  [ngClass]="{'loading': loading}">
    <div class="field" [ngClass]="{'error': form.get('heading_name').invalid && form.get('heading_name').touched}">
      <label>Debit Head Name</label>
      <input type="text" formControlName="heading_name">
    </div>
    <button class="ui blue labeled icon button tiny" type="submit" [ngClass]="{'loading': loading}"><i class="add icon"></i>Add
      Head</button>
    <button class="ui yellow labeled icon button tiny" (click)="onReset()"><i class="redo icon"></i>Reset</button>
  </form>
</div>
-->


<div class="segment">
  <article class="message" *ngFor="let message of messages" [ngClass]="{'is-danger': message.type === 'error', 'is-success': message.type === 'positive'}">
    <div class="message-header">
      <p>{{ message.type === 'error'? 'Error' : 'Success' }}</p>
    </div>
    <div class="message-body">
      {{ message.message }}
    </div>
  </article>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="" class="label">Debit
        Head Name</label>
      <input type="text" class="input" [ngClass]="{'is-danger': form.get('heading_name').invalid && form.get('heading_name').touched}"
        formControlName="heading_name">
    </div>
    <button class="button is-info" type="submit" [ngClass]="{'is-loading': loading}" appShadow>Add Heading</button>
  </form>
  <hr>
  <button class="button is-warning" (click)="onReset()" appShadow>Reset</button>
</div>