<div class="ui container">
  <div class="ui segment">
    <h3>Profile of first name and last name</h3>
    <div class="ui divider"></div>

    <div class="item">
      <div class="ui card">
        <div class="content">
          <a class="header">Username</a>
          <div class="meta">
            <span class="date">Email</span>
          </div>
          <div class="description">
            you are admin / accounts / co-admin
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            User
          </a>
        </div>
      </div>
      <div class="content">
        <div class="meta">
          <table class="ui table">
            <tbody>
              <tr>
                <td>
                  <h4>Username</h4>
                </td>
                <td>ID</td>
              </tr>
              <tr>
                <td>
                  <h4>First Name</h4>
                </td>
                <td>Name</td>
              </tr>
              <tr>
                <td>
                  <h4>Last Name</h4>
                </td>
                <td>Name</td>
              </tr>
              <tr>
                <td>
                  <h4>Email</h4>
                </td>
                <td>email address</td>
              </tr>
              <tr>
                <td>
                  <h4>Ful Access</h4>
                </td>
                <td>Yes / No</td>
              </tr>
              <tr>
                <td>
                  <h4>Password</h4>
                </td>
                <td><button class="ui red mini button">Change</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>